.pageContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 6rem 2rem 2rem 2rem;

  .pageTitle {
    font-size: var(--font-size-title);
  }
}

.eventGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  margin-top: 0.5rem;
  margin-left: 10rem;
  margin-right: 23.5rem;
}

.eventsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0rem;
  margin-left: 10rem;
}

.sortDropdown {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 22rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
}

.eventsHeader h2 {
  font-weight: 800; 
  font-size: 21px;
}