.pageContent {
  display: flex;
  flex-direction: column;
  height: 100%;

  .pageTitle {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-heading);
  }
}

/* Mobile Styles */
@media (max-width: 48rem) {
  .pageContent {
    padding: 6rem 2rem 6rem 2rem;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
}