@import "tailwindcss";

@font-face {
  font-family: 'Onest';
  src: url('/fonts/Onest-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Base Color Scheme Variables */
  --primary-color: #F2F2F2;
  --secondary-color: #EAE4D5;
  --tertiary-color: #B6B09F;
  --background-color: var(--primary-color);
  --text-color: #000000;
  --text-muted-color: #ffffff;
  --link-color: #ffffff;
  --link-hover-color: #ffffff;

  /* Dark Color Scheme Variables */
  --primary-color-dark: #ffffff;
  --secondary-color-dark: #ffffff;
  --tertiary-color-dark: #ffffff;
  --background-color-dark: var(--primary-color-dark);
  --text-color-dark: #ffffff;

  /* Button Variables */
  --button-primary-bg: #57564F;
  --button-primary-color: #ffffff;
  --button-primary-hover: #7A7A73;

  --button-secondary-bg: #B8001F;
  --button-secondary-color: #000000;
  --button-secondary-hover: rgb(194, 70, 70);

  /* Typography Variables */
  --font-primary: 'Onest', 'Roboto Mono', monospace;
  --font-size-nav: 1rem;
  --font-size-navigation: 1.5rem;
  --font-weight-navigation: 600;
  --font-size-title: 3rem;
  --font-size-heading: 2rem;
  --font-size-subheading: 1rem;
  --font-size-body: 1rem;
  --font-size-small: 0.75rem;
  --line-padding: 4px;

  /* Border & Spacing Variables */
  --border-radius: 10px;
  --navigation-item-padding: 2rem;

  /* Icon Variables */
  --icon-size-large: 1.75rem;
  --icon-width-large: 0.125rem;
  --icon-size-small: 0.875rem;
  --icon-width-small: 0.125rem;
}

/* Global resets */
* {
  font-family: var(--font-primary);
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  body {
    background-color: var(--primary-color);
  }
}
/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
}
*/