@import "tailwindcss";

:root {
  /* Base Color Scheme Variables */
  --primary-color: #ffffff;
  --secondary-color: #F5F5F5;
  --tertiary-color: #D9D9D9;
  --background-color: var(--primary-color);
  --text-color: #000000;
  --text-muted-color: #6C757D;
  --text-link-color: #008cff;
  --text-link-hover-color: #225e8f;

  /* Dark Color Scheme Variables */
  --primary-color-dark: #ffffff;
  --secondary-color-dark: #ffffff;
  --tertiary-color-dark: #ffffff;
  --background-color-dark: var(--primary-color-dark);
  --text-color-dark: #ffffff;

  /* Button Variables */
  --button-border-radius: 2rem;
  --button-primary-bg: #F5F5F5;
  --button-primary-color: var(--text-color);
  --button-primary-hover: #D9D9D9;

  --button-secondary-bg: #FFD05E;
  --button-secondary-color: var(--button-primary-color);
  --button-secondary-hover: #b7881a;

  --button-success-bg: #61C861;
  --button-success-color: var(--button-primary-color);
  --button-success-hover: #50b050;

  --button-danger-bg: #F76B6B;
  --button-danger-color: var(--button-primary-color);
  --button-danger-hover: #cb2f2f;

  --font-weight-button: 600;
  --font-size-button-large: 1.25rem;
  --font-size-button-medium: 1rem;
  --font-size-button-small: 1rem;

  /* Form Variables */
  --font-size-form-label: 1.5rem;
  --font-size-form-field: 1rem;

  /* Typography Variables */
  font-family: var(--font-onest), system-ui, sans-serif;
  --font-size-nav: 1rem;
  --font-size-navigation: 1.5rem;
  --font-weight-navigation: 600;
  --font-weight-button: 600;
  --font-weight-heading: 700;
  --font-weight-subheading: 600;
  --font-weight-body: 500;
  --font-size-title: 3rem;
  --font-size-heading: 2rem;
  --font-size-subheading: 1.5rem;
  --font-size-subheading-2: 1.25rem;
  --font-size-subheading-3: 1rem;
  --font-size-body: 1rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;
  --line-padding: .25rem;

  /* Border & Spacing Variables */
  --border-radius: 1rem;
  --navigation-item-padding: 2rem;
  --event-info-padding: 1rem;
  --event-info-padding-2: .5rem;
  --searchbar-padding: 1rem;
  --site-padding: 4rem;
  --site-gap: 1rem;
  --sidebar-padding: 1rem;

  /* Icon Variables */
  --icon-size-large: 1.75rem;
  --icon-width-large: 0.125rem;
  --icon-size-medium: 1rem;
  --icon-size-small: 0.875rem;
  --icon-width-small: 0.125rem;
}

/* Global resets */
* {
  font-family: var(--font-primary);

  /* Size Variables */
  --navbar-height: 4rem;
  --searchbar-height: 2.5rem;
  --sidebar-width: 20rem;

  /* Image Variables */
  --image-thumb-size-large: 3rem;
  --image-thumb-size-medium: 2rem;
  --image-thumb-size-small: 1.125rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  body {
    background-color: var(--primary-color);
  }
}

.swiper, .swiper-wrapper, .swiper-slide {
  overflow: visible !important;
}
/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
}
*/