.pageContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;

  .pageTitle {
    font-size: 48px;
  }
}

    .eventGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5rem;
    margin-top: 20rem;
    margin-left: 5rem;
    margin-right: 10rem;
    }
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
}
