/* NavBar Styles */
.navBar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    top: 0;
    width: 100%;
    height: 4rem;
    z-index: 1000;
    background-color: #F5F5F5;
}

.navItemList {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 100%;
    align-items: center;
}

/* NavItem Styles */
.navLogo {
    font-weight: 700;
    font-size: 2rem;
    transition: color 160ms ease;
}
.navLogo:hover {
    color: #FEBA02;
}

.navItem {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    align-items: center;
    border-radius: 1rem;
    white-space: nowrap;
    background: none;
    outline: none;
    color: black;
    height: 3rem;
    transition: background-color 160ms ease;
}
.navItem:focus-visible {

}
.navItem:hover {
    transition:
        background-color 160ms ease
        color 160ms ease
        fill 160ms ease;
    background-color: #D7D7D7;
    cursor: pointer;
}

.activeLink {
    height: 100%;
    border-radius: 0;
    color: #3B5998;
    box-shadow: inset 0 -3px 0 #3B5998;
}
.activeLink:hover {
    background: none;
}


.navIcon {
    aspect-ratio: 1 / 1;
    width: 1.875rem;
    stroke-width: 2.25px;
    color: inherit;
    transition:
        color 160ms ease
        fill 160ms ease;
}

.navLabel {
    font-weight: 600;
    font-size: 24px;
}

/* Mobile Breakpoint */
@media (max-width: 48rem) {
    .navItemList {
        display: none;
    }
}