.siteLogo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
}

.navBar {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--navigation-item-padding);
    padding: 0 1rem;
    height: 3.5rem;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;

    /* Icon Styles */
    .navIcon {
        width: var(--icon-size-large);
        height: var(--icon-size-large);
        stroke-width: var(--icon-width-large);
        color: inherit;
    }

    /* Middle Navigation Items*/
    .navMiddleItems {
        display: flex;
        gap: var(--navigation-item-padding);
        list-style: none;
        text-decoration: none;

        .navItem {
            display: flex;
            flex-direction: row;
            gap: .5rem;
            align-items: center;
            font-weight: var(--font-weight-navigation);

            .navLink {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }
        }
    }

    /* Button Item */
    .navLogOut {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
        background: none;
        padding: 1rem;
        border: none;
        white-space: nowrap;
        overflow: hidden;
    }

    /* Text Styles */
    .navLogOut, .navItem, .siteLogo {
        font-size: var(--font-size-navigation);
        color: var(--text-color);
        cursor: pointer;
    }

    .navLogOut, .siteLogo {
        font-weight: 700;
    }

    .navLogOut:hover, .navItem:hover, .siteLogo:hover {
        color: #9A9A9A;
    }
}